html, body {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align:center;
    align-items: center;
    
}
.container {
    margin: auto;
    width: 60%;
    height: 100vh;
    align-items: center;
    text-align:center;
    justify-content:center;
    background-color: azure;
}
h1 {
    margin: 0;
    background-color:beige;
    width:100%;
}
.borderLine {
    margin: 10px 0 0 0;
    height: 5px;
    background-color: grey;
}
.output{
    height: auto;
    background-color: rgb(182, 255, 182);
}
textarea {
    width:100%;
    
    outline: none;
    border: none;
    background-color:rgba(182, 255, 182, 0.345);
    resize: none;
}
